@page
@model CatShelter.Areas.Identity.Pages.Account.AccessDeniedModel

<h1>Access Denied</h1>
<p>You do not have permission to view this page.</p>

<a asp-controller="Home" asp-action="Index">Return to Home</a>